REACT_APP_API_URL=http://localhost:5005/api
REACT_APP_UPLOAD_URL=http://localhost:5005

REACT_APP_APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
REACT_APP_APPWRITE_PROJECT_ID=69f1cb840006d2bde03e
REACT_APP_APPWRITE_DATABASE_ID=69f1cbb00017b693e4c9
REACT_APP_APPWRITE_COLLECTION_PRODUCTS=products
REACT_APP_APPWRITE_COLLECTION_USERS=users
REACT_APP_APPWRITE_COLLECTION_ORDERS=orders
REACT_APP_APPWRITE_COLLECTION_PAYMENT=payment
REACT_APP_APPWRITE_STORAGE_BUCKET_ID=69f1d977003596de5eb0
